* {
  box-sizing: border-box;
}

body {
  background-color: #fffffd;
}

#root {
  background-color: #fffffd;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  margin: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

.nav-link:hover {
  color: #67AB4C;
}

input[type="radio"]{
  -webkit-appearance: radio;
}